#container{
width:1450px;
background-color: #3391de;
margin: 5px auto;
}
 
#header {
background-color:#3391de;
height:120px;
padding: 15px;
}
 
#navigation{
background-color: #FFB7B7;
height:30px;
}
 
#content-container{
background-color: #3391de;
height:780px;
}
 
#left-side{
float:left;
width: 220px;
padding:15px 35px 15px 0;
margin:30px;
height:500px;
border: 1px solid;
border-radius: 25px;
border-color:#FF6A6A;
background-color:#FF6A6A;
}
 
#content{
float:left;
width:790px;
padding:0 10px 0 0;
margin:15px;
border-style: dashed;
border-color: #80B27E;
border-width: 7px;
background-color: #FFFFFF;
}
 
#right-side{
float:right;
width:195px;
padding:20px;
margin:0 30px 0 0;
background-color: #bbb345}
 
#footer{
clear:both;
background-color: #FF7878;
height:20px;
text-align:center;
padding:5px
}
 
.bilde{
float:right;
width:500px;
height:250px;
margin:10px}
 
.leftsaites{
list-style: none;
background-color:#ff9090;
margin:20px;
float: center;
font-size: 18pt;
padding: 5px;
text-align: center;
}
 
.reklama{
width:160px;
height:160px;
}
 
.yeet{
float:left;
width:180px;
height:180px;
margin: 23px 20px 30px 30px;
}
 
.bildite{
float:left;
width:205px;
height:180px;
}
 
#quote{
float:left;
width:791px;
height:160px;
margin:29px;
border-style: solid;
border-color: #80B27E;
border-width: 4px;
background-color: #FFFFFF;
}
 
.gailis{
float:left;
width:135px;
height:135px;
padding: 0 0 0 50px;
}
 
.banans{
float:left;
width:100px;
height:120px;
margin: 20px;
}  
 
.poga{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: red;
    border: 2px solid #A2D9CE;
    cursor: pointer;
}
 
/* savam popup logam maini vizualos settingus (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  color: #0b0505;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 200px;
  border: 2px solid #111;
  height: 150px;
  width: 780px;
}
 
/* The Close Button */
.close {
  color: #a7a7a7;
  float: right;
  padding-right: 2px;
  font-size: 28px;
  font-weight: bold;
}
 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}